<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color" content="#424242")
        link(rel="stylesheet", href="style.scss")
        title Nodes | Click to create nodes
    body
        canvas#canvas(width=500 height=500)
        script(src="./index.ts")